  * { margin: 0;
                    padding: 0;
                     box-sizing: border-box;
                    }
             body {
                   background-color: azure;
                    display: flex;              
                 justify-content: center;  
                  align-items: center;       
                  height: 100vh;          
                   }
        .border{   border: 50px;
                   border-radius: 20px;
                   background-color:white; 
                   text-align: center;
                   font-weight: bold;
                   box-shadow:0 0 10px goldenrod;
                   margin: 0 auto;
                   width: 400px;
                }
           #form{  text-align: justify;
                   width: 400px;
                   margin: 50px;
                   border-radius:5px;
                }
        #button{   background-color: rgb(24, 119, 242);
                   width: 300px;
                   height: 30px;
            
                  border-radius: 5px;
                 color: aliceblue;
                }
          input,select
                {width: 300px;
                 height: 30px;
                 border-radius:5px ;
                 border: 1px solid gray;
                }
         select{background-color: gray;
                border-radius: 5px;
                }
                textarea{height: 60px;
                        border: 1px solid gray;
                       border-radius: 5px;
                       width: 300px;}